*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font: var(--type-body);
  letter-spacing: var(--type-body-ls);
}

button,
input {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
}

button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

input {
  background: none;
  border: 0;
  padding: 0;
  border-radius: var(--radius-none);
}
